
.login{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.login-box{
    width: 300px;
    min-height: 200px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px black;
    margin: 100px auto;
    padding: 15px 0px 15px 5px;
}

.input-wrapper{
    width: 280px;
    margin: 0px auto;
}

.input-wrapper input{
    width: 270px;
    font-size: 16px;
    padding-left: 5px;
}

.error-message{
    color: red;
    font-size: 12px;
    margin: 5px 0px;
}


