.App {
  width: 100%;
  position: relative;
}

.routeWrapper{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.white-text{
  color: white;
}

.red-text{
  color: red;
}

.black-text{
  color: black;
}

.green-text{
  color: green;
}

.blue-text{
  color: blue;
}