.App {
  width: 100%;
  position: relative;
}

.routeWrapper{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

input{
  width: 270px;
  font-size: 14px;
  padding-left: 5px;
  margin-top: 1px;
}

.white-text{
  color: white;
}

.red-text{
  color: red;
}

.black-text{
  color: black;
}

.green-text{
  color: green;
}

.blue-text{
  color: blue;
}

.error-message{
    color: red;
    font-size: 12px;
    margin: 5px 0px;
}

.success-message{
    color: green;
    font-size: 13px;
    margin: 5px 0px;
}



