
.login{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.login-box{
    width: 300px;
    min-height: 200px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px black;
    margin: 100px auto;
    padding: 15px 0px 15px 5px;
}

.input-wrapper{
    width: 280px;
    margin: 8px auto;
}

.input-wrapper button{
    width: 160px;
    height: 30px;
    font-size: 16px;
    background: rgb(0, 223, 19);
    margin-top: 5px;
}

.login-signup-switch{
    width: 280px;
    border-top: 1px solid gray;
    margin: 10px auto 0px auto;
    padding-top: 10px;
}

.login-signup-switch p{
    text-align: center;
}

.login-signup-switch button{
    width: 200px;
    height: 30px;
    font-size: 16px;
    background: rgb(136, 228, 113);
    margin-top: 5px;
}


